.container{
	width:800px;
	margin:20px;
}
a.alert-link{
	text-decoration:none;
	float:right;
	display:block;
}
#map{
	width:740px;
	height:300px;
	margin:0 15px 10px;
	border:1px solid #678;
}
.margin-top{
	margin-top:15px;
}
.margin-left-right{
	margin:0 15px;
}
.margin-left{
	margin-left:25px;
}
